.BadgeList__item {
  background-color: white;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 3px 3px;
  overflow: hidden;
}

.BadgeList__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  padding: 15px;
  display: inline-block;
}

.BadgeList__text-area {
  display: inline-block;
  vertical-align: middle;
}

.BadgeList__item p {
  margin-bottom: 3px;
}

.BadgeList__twitter-link {
  color: #00aced;
}

.BadgeList__twitter-logo {
  width: 30px;
}
